// colors

$black: rgb(0,0,0);
$white: rgb(255,255,255);
$grey: rgb(100,100,100);
$yellow: rgb(255,255,0);
$darker-yellow: rgb(255,220,80);
$orange: rgb(205,135,0);
$light-green: rgb(0,255,100);
$light-green-correct: rgb(100,255,100);
$red-incorrect: rgb(255,30,0);
$square-light-blue: rgb(100,120,244);
$square-dark-blue: rgb(0,34,144);
$hover-blue-glow: rgb(100,190,244);

// gradients

$question-answers-gradient: linear-gradient(90deg, rgba(0,34,144,1) 2%, rgba(1,13,167,1) 17%, rgba(0,80,226,1) 30%, rgba(8,82,190,1) 47%, rgba(2,41,164,1) 55%, rgba(18,4,150,1) 66%, rgba(0,3,157,1) 79%, rgba(103,120,247,1) 98%);
$main-container-right-gradient: linear-gradient(90deg, rgba(2,0,36,1) 3%, rgba(2,0,79,1) 25%, rgba(10,10,80,1) 32%, rgba(0,0,94,1) 45%, rgba(42,0,78,1) 70%, rgba(26,0,92,1) 92%, rgba(0,16,68,1) 100%);
$main-container-left-gradient: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(5,3,97,1) 17%, rgba(0,0,105,1) 32%, rgba(0,0,94,1) 35%, rgba(42,0,78,1) 70%, rgba(37,0,130,1) 92%, rgba(0,16,68,1) 100%);
$lifebuoys-gradient: linear-gradient(0deg, #006b90 2%, #0166a7 2%, #007bbb 16%, #0391d5 32%, #0084e4 52%, #1395f6 70%, #3aa3e2 92%, #67bcf7 100%);

// border-radius

$answer-squares-radius: 26% 0 26% 0;
$question-squares-radius: 21% 0 22% 0;

// screens

$small-screen: 600px;
$medium-screen: 1100px;
$big-screen: 1400px;
$huge-screen: 1600px;
$biggest-screen: 1800px;

// filter

$darkening: brightness(0.5);